nav{
		z-index: 1;
		left: 0;
		right: 0;
}
.navigation{
	text-align: center;
}
.navigation li{
	display: inline-block;
	margin: 0 15px;
	color: #FADC60;
}
.navigation li a{
	color: #FADC60;
	text-decoration: none;
}
a{
	letter-spacing: 3px;
	color: #FADC60;
	font-size: 18px;
	text-decoration: none;
	}

h1{
	text-align:center;
	color: white;
/*	font-weight: 200;
*/	font-size: 100px;
	/*font-family: 'amsterdamtwo_ttf';
	font-weight: normal;
    font-style: normal;*/
	/*font-family: 'Parisienne', cursive;*/
	font-family: 'Montez', cursive;
	margin-bottom: 0;
}

footer{
	background-color: #FADC60;
	text-align: center;
	height: 40px;
	margin-top: 100px ;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}