nav{
		z-index: 1;
		left: 0;
		right: 0;
}
.navigation{
	text-align: center;
}
.navigation li{
	display: inline-block;
	margin: 0 15px;
}
.navigation li a{
	color: #FADC60;
	text-decoration: none;
}
header{
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 85px;
	font-family: 'Parisienne', cursive;
	margin-bottom: 0;
}
a {
	letter-spacing: 3px;
	color: #FADC60;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Kumbh Sans', sans-serif;

}
.left-row{
	font-family: 'Kumbh Sans', sans-serif;
	color: black;
	font-size: 22px;
}
.right-row{
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: 200;
	text-align: center;
}
body{
 background: #7C4018;
 font-family: 'Kumbh Sans', sans-serif;
}

img{
    width:40%;
    height:auto;
    background-color: transparent;
   }

footer{
	color: #FADC60;
	text-align: center;
	height: 40px;
	margin-top: 100px ;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}
