html{
  background: #7C4018;
}
nav{
		z-index: 1;
		left: 0;
		right: 0;
}
.navigation{
	text-align: center;
}
.navigation li{
	display: inline-block;
	margin: 0 15px;
}
.navigation li a{
	color: #FADC60;
	text-decoration: none;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
	font-family: 'Parisienne', cursive;
	margin-bottom: 0;
	margin-top: auto;
}
.border{
  width: 160px;
  height: 2px;
  background: #FADC60;
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #FADC60;
  color: #FADC60;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: #FADC60;
  color: #ddd;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}
/* h2{
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 80px;
	font-family: 'Parisienne', cursive;
	margin-bottom: 0;
	margin-top: auto;
}

body{
	font-family: 'Kumbh Sans', sans-serif;
}
.serviceslist {
  display: flex;
  padding: 30px;
  text-align: center;
}

/* Create two equal columns that sits next to each other *//*
.option1, .option2, .option3{
  flex-direction:row;
  border: 2px #FADC60;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

a{
	letter-spacing: 3px;
	color: #FADC60;
	font-size: 18px;
	text-decoration: none;
	}
*/

footer{
	background-color: #FADC60;
	text-align: center;
	height: 40px;
	margin-top: 100px ;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}