html{
  background: #7C4018;
}
nav{
		z-index: 1;
		left: 0;
		right: 0;
}
.navigation{
	text-align: center;
}
.navigation li{
	display: inline-block;
	margin: 0 15px;
}
.navigation li a{
	color: #FADC60;
	text-decoration: none;
}

h2{
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 80px;
	font-family: 'Parisienne', cursive;
	margin-bottom: 0;
	margin-top: auto;
}

body{
	font-family: 'Kumbh Sans', sans-serif;
}
.serviceslist {
  display: flex;
  padding: 30px;
  text-align: center;
}

/* Create two equal columns that sits next to each other */
.option1, .option2, .option3{
  flex-direction:row;
  border: 2px #FADC60;
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
}

a{
	letter-spacing: 3px;
	color: #FADC60;
	font-size: 18px;
	text-decoration: none;
	}


footer{
	background-color: #FADC60;
	text-align: center;
	height: 40px;
	margin-top: 100px ;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}